extends header

block content
    .header-others
    main
        section.section-about
            .u-center-text.u-margin-bottom-big
                h2.heading-secondary
                    | who are we

            .row
                .col-1-of-2
                    h3.heading-tertiary.u-margin-bottom-small
                        |  community
                    p.paragraph
                        | We have our roots in the community. Our leadership is drawn from the local population. This is one of our key strengths and affirms the right of 
                        | people to make their own decisions about the issues that affect their lives. As a local organization we are in a uniquely credible situation to 
                        | deliver local development services more effectively than outside organizations  
                    p.paragraph
                        | It also means that we do not have an expensive administrative headquarters in a third country: our administration team here is very small and our 
                        | overheads are minimal: and, this means that we can maximize direct use of funds in our projects. Our donors can be sure that their contributions 
                        | reach their target.
                    
                    h3.heading-tertiary.u-margin-bottom-small
                        | our focus

                    p.paragraph
                        | Excellence in Health Care Delivery, Education, Social Services and Community Development 
                
                .col-1-of-2
                    .composition
                        img(src="images/one.jpg", alt="p1", class="composition__photo composition__photo--p1")
                        img(src="images/two.jpg", alt="p1", class="composition__photo composition__photo--p2")
                        img(src="images/three.jpg", alt="p1", class="composition__photo composition__photo--p3")
            
        section.section-stories
            .u-center-text.u-margin-bottom-big
                h2.heading-secondary
                    |  our role
            .row
                .story
                    .story__text
                        h3.heading-tertiary.u-margin-bottom-small
                            | our roles include:
                        p.paragraph
                            | Development and empowerment of socially and economically 
                            | marginalized individuals’ health care, education, and social 
                            | service and community development as program areas
            .row
                .story
                    .story__text
                        h3.heading-tertiary.u-margin-bottom-small
                            |structure
                        p
                            | ngungu muguku foundation is run by a small central team
            .row
                .story
                    .story__text
                        h3.heading-tertiary.u-margin-bottom-small
                            | Board of Directors
                        p
                            | This is the decision making body of NMF. Responsible for the 
                            | overall direction and operation of the foundation.
            .row
                .story
                    .story__text
                        h3.heading-tertiary.u-margin-bottom-small
                            | Executive Team
                        p
                            |  A multidisciplinary group of providers and consumers whose interest 
                            |  and expertise facilitates the development of the foundation.
                        p
                            | Guide planning activities, defining system criteria, establishing 
                            | system standards reviewing system performance and evaluates system

            .row
                .story
                    .story__text
                        h3.heading-tertiary.u-margin-bottom-small
                            | Administration and Finance
                        p
                            | Director of Operations, Grants Officer, Field Officer, General Office Manager.
                            | Implements BoD decisions and liaises between the BoD, NMF, communities and donors. 
                            | Finance Manager, two interns. Ensures that the interests of donors and general fiscal
                            | responsibility are observed consistently across NMF

            .row
                .story
                    .story__text
                        h3.heading-tertiary.u-margin-bottom-small
                            | accountability
                        p
                            | This central team is accountable to two primary groups:
                        p
                            | Our community (including students, teachers and parents, healthcare service users,
                            | providers and families, consumers of social services)
                        p
                            | our donors


        include footer.pug