.row
    .col-1-of-3
        |  &nbsp;
    .col-1-of-3.u-center-content
        .card
            .card__side.card__side--front
                .card__picture.card__picture--1
                    | &nbsp;
                .card__heading
                    span.card__heading-span.card__heading-span--1
                        | dr. muguku
                .card__details
                    ul
                        li 
                            | chairman
                        li 
                            | enos@ngungumugukufoundation.org
                
            .card__side.card__side--back.card__side--back-1
                .card__cta
                    .card__price-box
                        p.card__text-box
                            |
                        p.card__text-highlight
                            |
                        a.btn.btn--white(href="#popup1")
                            | learn more
    //- .col-1-of-4
    .col-1-of-3
        | &nbsp;

.row
    .col-1-of-3
        .card
            .card__side.card__side--front
                .card__picture.card__picture--2
                    | &nbsp;
                .card__heading
                    span.card__heading-span.card__heading-span--2
                        | dishon
                .card__details
                    ul
                        li 
                            | director
                        li dishon@ngungumugukufoundation.org
            .card__side.card__side--back.card__side--back-1
                .card__cta
                    .card__price-box
                        p.card__text-box
                            | 
                        p.card__text-highlight
                            |
                        a.btn.btn--white(href="#popup2")
                            | learn more
    
    .col-1-of-3
        .card
            .card__side.card__side--front
                .card__picture.card__picture--3
                    | &nbsp;
                .card__heading
                    span.card__heading-span.card__heading-span--3
                        | grace
                .card__details
                    ul
                        li director
                        li grace@ngungumugukufoundation.org
                
            .card__side.card__side--back.card__side--back-1
                .card__cta
                    .card__price-box
                        p.card__text-box

                        p.card__text-highlight
                        
                        a.btn.btn--white(href="#popup3")
                            | learn more
        
   
    .col-1-of-3
        .card
            .card__side.card__side--front
                .card__picture.card__picture--4
                    | &nbsp;
                .card__heading
                    span.card__heading-span.card__heading-span--4
                        | ezekiel
                .card__details
                    ul
                        li director
                        li 
                            | ezekiel@ngungumugukufoundation.org
                
            .card__side.card__side--back.card__side--back-1
                .card__cta
                    .card__price-box
                        p.card__text-box

                        p.card__text-highlight
                        
                    a(href="#popup4" class ="btn btn--white")
                        | learn more

