.footer
    .footer__logo-box
      img.footer__logo(src="assets/img/logo.jpg", type="")
    
    .row
      .col-1-of-2
        .footer__navigation
          ul.footer__list
            li.footer__item
              a(href="/", class="footer__link")
                | home
            li.footer__item
              a(href="/", class="footer__link")
                | about
            li.footer__item
              a(href="/", class="footer__link")
                | our story

      .col-1-of-2
        p.footer__copyright
          | info@ngungumugukufoundation.org
        p.footer__copyright
          | P.O. BOX 10586-20100 Nakuru, Kenya
        p.footer__copyright
          | Tel :  0733760880, 0722230620
    .row
      h4.heading-teriary.u-center-text
          | Copyright &copy; ngungu muguku foundation
      
      