extends header 

block content
    //- .header.others

    .main
        section.section-stories
            
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | The Backgroung of the Foundation
                        P
                            | The Ngungu Muguku Foundation (NMF) is a nonprofit grant making institution 
                            | dedicated to helping groups and individuals. The NMF was founded in 2014, 
                            | and registered with certificate No. 48065 under section 10 of the societies 
                            | act on 22nd April 2016. It has subsequently played a major role in the 
                            | transformation of in among others health, education and livelihoods of both 
                            | individuals and communities in Kenya. The foundation is committed to working
                            | towards the development and empowerment of socially and economically marginalized 
                            | individuals (especially children, trauma victims, women and girls) in communities 
                            | living in the country with health care, education, social services and community 
                            | development. The NMF’s focus is to improve the socio-economic conditions of 
                            | communities within the country. We have successfully overseen a computer for 
                            | schools project in Muranga County. The chairman of the foundation, 
                            | Dr Enos Ngungu Muguku has practiced orthopaedic surgery for over 34 years and 
                            | currently runs an orthopaedic medical clinic within Nakuru Town. In partnership 
                            | with local hospitals the chairman of the foundation has offered trauma care services 
                            | to diverse groups of patients. The foundation intends to extend coverage of such 
                            | services in a specialized trauma center.
            

            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | Mandate
                        p 
                            | The foundation is mandated to accumulate requisite funds from diverse sources and
                            | manage them effectively and efficiently and disburse funds towards worthy causes 
                            | equitably and quickly. The Foundation is dedicated to enriching the lives and 
                            | enhancing the futures of less fortunate children and youth, families and the 
                            | elderly with a focus on improving education, health care and social services.

            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            |  grants strategy
                        
                        p 
                            | The Foundation is committed to a broad continuum of giving across Kenya. We continue 
                            | to seek grant-making opportunities that enrich the lives and enhance the futures of 
                            | the less fortunate children and youth, families and the elderly. Through the support 
                            | we provide, the Foundation fosters the development of knowledge, advances human welfare, 
                            | nurtures individual creativity, strengthens institutions, and contributes to the 
                            | well-being of the less-fortunate in our society. The Foundation believes its grant-making 
                            | is most effective when focused on relatively few areas of work, combined with sufficient 
                            | resources to make a measurable difference. Through four program areas – Education, Health 
                            | Care, Social Services and Foundation Initiated Grants – the Foundation funds projects that 
                            | provide services to underserved and disenfranchised populations with the ultimate goal of 
                            | improving quality of life.
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | Program ares
                        p
                            | Through four program areas, the Foundation funds projects that provide services to under-served 
                            | and disenfranchised populations with defined needs, with the ultimate goal of improving the quality 
                            | of life for the people living, working or attending school in the funded communities.
            
            .row 
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | eduction
                        p
                            | Knowledge empowers choices that influence our social and family environment, health and mental well being, 
                            | career and income, home and neighborhood, and community and world view. The correlation between quality of 
                            | education and quality of life is undeniable. It is one of the most powerful instruments for reducing poverty 
                            | and inequality and lays a foundation for sustained economic growth. The Foundation recognizes how important 
                            | it is for young people, especially those who face greater challenges in life, to attend and graduate from college.
        section.section
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | grants for eduction are made in the following areas

                        ul
                            li  
                                |Computers for Schools
                            li
                                | Scholarships and school fees grants for needy and deserving students
                            li
                                | Renovated abandoned classes and converted them to computer laboratories
                            li
                                | Organized tours and retreats for teachers, students and community 
                            li
                                | Sponsoring top students and awarded them prizes as an appreciation of their efforts
                            li
                                | Gifting students with solar lanterns

            
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                             | social services
                        p
                            | The Foundation provides support to community social projects that provide services in 
                            | the following areas:
                        
                        ul
                            li 
                                | Support basic needs, such as food, clothing, shelter and other direct aid for indigent,
                                | low income and other under-served populations.
                            li
                                | Serve the elderly by providing services to help senior citizens live independently.
                            
                            li 
                                | Promote economic self-sufficiency through familiarization tours, education and training 
                                | of youth and adults.
                            li   
                                | Offer after school programs for economically disadvantaged children and youth.
                            
                            li
                                | Respond to an increasing demand, especially among families, for housing services. 
                                | Whether it is housing counseling, help with home repair, rent or construction of 
                                | new buildings, temporary shelter, or transitional housing.
        section.section-stories
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            |health care
                        
                        p
                            | The Foundation dedicates resources to meet the unmet health care needs and increase 
                            | the availability of accessible and quality health-related services for under-served 
                            | populations.
            .row
                .story
                    .story__text

                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | grants for healthcare are made in the following areas

                        p
                            | Direct grants to individuals to meet health care costs such as buying of wheel chairs, vital medicines and other medical equipment.
                        p
                            | The Foundation intends to establish a dedicated trauma centre in Nakuru County. As a small philanthropic organization it intends to 
                            | seek donor support to help ensure that as many injured persons as possible in Nakuru County and its environment have access to, and 
                            | take advantage of quality trauma management services which enriches health related quality of life now and opens opportunities for 
                            | their future resettlement back into the society. No such Centre exists in Kenya to date, despite the high prevalence of Road Traffic 
                            | Crashes in the country, especially along the busy Trans African highway, where Nakuru is situated. Trauma cases form the bulk of 
                            | Surgical admissions in the main referral hospital in Nakuru. Studies further show that the recovery of such patients is unsatisfactory. 
                            | The trauma centre aims at reversing such trends.
            
            .row
                .story
                    .story__text

                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | foundation initiated programs
                        p
                            | The Foundation from time to time seeks solutions to identified needs through Foundation Initiated Programs. Currently, there are several 
                            | projects that have been initiated
                
                        ul
                            li
                                | helping an upcomming muscian to have his music recorded
                            li
                                | Connection of a community to piped water
                            li
                                | Aiding a church to obtain solar panels
                            li
                                | Construction of building for tea buying centers
            
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | organogram
                        
                        p
                            | The foundation has its roots in the community. Our leadership 
                            | is drawn from the local population. This is one of our key strengths 
                            | and affirms the right of people to make their own decisions about the 
                            | issues that affect their lives. As a local organization we are in a 
                            | uniquely credible situation to deliver local development services more 
                            | effectively than outside organizations.

                        p 
                            | It also means that we do not have an expensive administrative headquarters 
                            | in a third country: our administration team here is very small and our overheads 
                            | are minimal: and, this means that we can maximize direct use of funds in the 
                            | trauma center . Our donors can be sure that their contributions reach their target.
                        
        section.section-story
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | board of directors
                        p
                            | This is the decision making body of NMF. It is responsible for the overall direction 
                            | and operation of the foundation. Members of the BoD have vast training and experience 
                            | in, among others orthopedic surgery, Clinical Medicine, Business Administration, 
                            | Guidance and Counselling and Sports. The BoD is headed by Dr. Enos Muguku, the founder 
                            | of the foundation.
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | executive team
                        p
                            | A multidisciplinary group of providers and consumers whose interest and expertise facilitates 
                            | the development of the foundation. This team among others guide planning activities, defines 
                            | system criteria, establishes system standards,  reviews and evaluates system performance. 
                            | Members are drawn from the NMF host community and represent diverse interests and backgrounds.
            .row
                .story
                    .story__text

                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | Staff
                        
                        p
                            | The Staff is made up of a director of Operations, Grants Officer,  Field Officers and General 
                            | Office Manager. The staff implements BoD decisions and liaises between the BoD, NMF, communities 
                            | and donors. The staff are seasoned professionals with backgrounds in project management and 
                            | community mobilization. Field officers are professionals with requisite backgrounds in the three 
                            | core program areas of the foundation, namely education, health and community development. 

                        p
                            | The general Manager and Finance Manager ensures that the interests of donors as well as general 
                            | fiscal responsibility are being consistently observed across NMF. They have training in business 
                            | and more specialized training in their respective areas of responsibility.

        section.section-stories
            h2
                    | partners
                    
            .row
                .story
                    .story__text
                    
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | community    
                        ul
                            li
                                | community based organization
                            li
                                | based organizations
                            li
                                | faith based organizations
                            li
                                | youth groups
                            li
                                | women's groups
                            li
                                | non-governmental organizations
            
            .row
                .story
                    .story__text

                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | business community
                        ul
                            li
                                | local business community
                            li
                                | informal sector organization

            .row
                .story
                    .story__text  
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | professional associations
                        
                        ul
                            li
                                | teachers trade unions
                            li
                                | association of medical practioners
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small
                            | government
                        ul
                            li
                                | county government
                            li
                                | public administration
                            li
                                |   local police
            .row
                .story
                    .story__text
                        h2.heading-tertiary.u-center-text.u-margin-bottom-small 
                            | international
                        ul
                            li
                                | private donors
                            li
        
                                | suppliers of computers and other equipment

        include footer.pug           
            

