.popup(id="popup1" class="popup")
    .popup__content
        .popup__left
            img(src="images/mugukus.jpg", alt="enos muguku" class="popup__img")
        
        .popup__right
            a(href="#section-directors", class="popup__close" )
                | &times;
            h2.heading-secondary.u-margin-bottom-small
                | dr. enos muguku
            h3.u-margin-bottom-small
                | enos@ngungungumugukufoundation.org
            
            p.popup__text
                | As part of giving back to my community, I started the Ngungu Muguku foundation to improve the 
                | state of education of my home constituency, Kangema constituency. The idea sprouted and spread 
                | to other parts of  Muranga county and eventually other parts of Kenya.
                | At first, we aligned ourselves with the government's agenda of digitizing education in Kenya.
                | We took the initiative to donate computers to various schools in our home constituency and 
                | reached out even to other parts of Kenya. Our goal was to provide the infrastructure and 
                | later acquire the materials from The Kenya Institute of Curriculum Development (KICD). 
                | The effort saw us adopt neglected class structures and renovate them to house modern 
                | computer laboratories. Our efforts were appreciated by both the teachers and pupils 
                | in those schools - some who have never had the opportunity to interact with computers 
                | before. The computer labs are open to the community during non-school hours thereby 
                | providing the necessary environment for the community members to gain computer skills.
                | In the process of donating computers to schools, we saw the need to engage in the welfare 
                | of the students by providing mentorship to students. We organized programs to mentor students 
                | by providing them with advice on the importance of education and the rewards of an excellent 
                | educational background. We have committed ourselves to giving support to candidates who are 
                | sitting for their national exams by providing them with essential advice on what to expect 
                | after completing their exams be it moving to secondary education or proceeding to professional 
                | training. In the process, the foundation has continuously provided examination materials to 
                | candidates who are sitting for their exams.
                | We have organized parent forums where the main agenda is the state of education. We have
                | encouraged the parents to continue educating their children and improve their quality of 
                | life. We have empowered them through various community programs. To help develop the community, 
                | we built Tea collection centers to assist in the collection and storage of tea in remote areas 
                | where accessibility has been an issue. We have engaged in community labor-based road maintenance 
                | in our community. Thus employing the youth and improving the state our roads.
                | Our commitment to the community has seen us come to the aid of the needy in the community. 
                | We have helped people whose houses were burned down, by assisting them to rebuild their homes. 
                | We made donations to the elderly by providing them with the essential requirement that was hard 
                | to come by noting that they were not engaged in any gainful financial activities. We also donated 
                | a wheelchair to needy members of our community.

            a.btn.btn--green(href="/")
                | read more &rarr;


.popup(id="popup2" class="popup")
    .popup__content
        .popup__left
            img(src="images/dishon-full.jpg", alt="dishon muguku" class="popup__img")
        
        .popup__right
            a.popup__close(href="#section-directors")
                | &times;
            h3.u-margin-bottom-small
                | dishon muguku
            h3.u-margin-bottom-small
                | dishon@ngungungumugukufoundation.org
            
            p.popup__text
                | At the ngungu muguku foundation, our central pillar is education both formal and informal. 
                | I would wish to push for physical education through sports and extracurricular activities.
                | I have been a captain in swimming karate rugby and track sports. I understand the importance of games in helping
                | one understand the significance of being a team player and that it teaches one to work well with others. The discipline
                | acquired from working as a team is essential to the andividul growth of character.
                | I would like to push this through the foundation since sports takes time to nurture therefore it teaches patience.
                | Creativity and innovation are at the heart of the foundation for they are vital in bringing the change foreseen by 
                | the organization. By creating solutions to the current problems and future problems, we shall develop a generation 
                | that is both mindful of other and empowered enough to look after each other.
        
            a.btn.btn--green(href="#")
                | read more &rarr;


.popup(id="popup3" class="popup")
    .popup__content
        .popup__left
            img(src="images/grace-full.jpg", alt="grace wangui" class="popup__img")
        
        .popup__right
            a.popup__close(href="#section-directors")
                | &times;
            h2.heading-secondary.u-margin-bottom-small
                | grace wangui 
            h3.u-margin-bottom-small
                | grace@ngungungumugukufoundation.org
            
            p.popup__text
                | My passion towards helping the community has seen me come to the rescue of persons facing life difficulties. 
                | By attending local harambees and donating my efforts towards renovating and public house structures such as 
                | churches, to giving the much-needed daily requirements.
                | My role at Ngungu Muguku Foundation has been to make efforts towards making the organization a light to the 
                | community. By sponsoring students through education, clearing hospital bills and above all assisting and improving 
                | the quality of life of the needy by providing both financial and psychological help.
                | Through Ngungu Muguku Foundation I encourage adults both men and women to create growth groups where they 
                | organize projects and I  advise them on best practices and also donate resources to them. From purchasing 
                | tents and chairs for events(which are somewhat expensive to hire), buying water tanks that are environmentally 
                | friendly.  We also donate startup capital for chamas to enable them to start and run efficiently.
                | I run a preaching program that is well enabled by my professional skills. I concentrate more on the hope and 
                | spiritual growth and unity. My target audience range from interdenominational Christians, women groups,  and 
                | the elderly.

            a.btn.btn--green(href="#" )
                | read more &rarr;


.popup(id="popup4" class="popup")
    .popup__content
        .popup__left
            img(src="images/ndungu-full.jpg", alt="ndungu" class="popup__img")
        
        .popup__right
            a(href="#section-directors" class="popup__close")
                | &times;
            h2.heading-secondary.u-margin-bottom-small
                | ezekiel ndungu
            h3.u-margin-bottom-small
                | ezekiel@ngungungumugukufoundation.org
            
            p.popup__text
                |  My dream of the Ngungu Muguku foundation began in 2014 when a group of friends and I decided to visit our parent's former schools in Muranga.
                |  We had gone to motivate the student candidates than who was about to sit for their K.C.P.E examination. We were shocked to see 
                |  that the school was neglected; the classes had no windows, the floors were muddy, and the whole institution had not even one 
                |  computer.  I was deeply touched and decided to be a partner of Ngungu Muguku Foundation that will be a wheel of transformation 
                |  in Muranga and spread all over the nation of Kenya.
            a.btn.btn--green(href="#" )
                | read more &rarr;
