.row
    .col-1-of-3
        h2
            | overarching image
        p
            | A flourishing community that will be of goodwill to all.
    
    .col-1-of-3
        h2
            | vision
        p
            | To be a leading charity in Kenya that addresses worthy humanitarian issues with passion.
    
    .col-1-of-3
        h2
            | mission
        p
            | To manage charity funds equitably in an effective and efficient manner in order to meet 
            | the necessities of needy and deserving persons and communities.

.row
    .col-1-of-2
        h2
            | objectives
        ul
            li
                | Profile and prioritize the necessities of needy and deserving persons and communities
            li
                | Accumulate adequate funds from diverse sources
            li
                | Manage charity funds effectively and efficiently
            li
                | Disburse funds to worthy causes equitably and quickly


.row
    .col-1-of-3
        h2
            | our core values
        ul
            li
                | honesty
            li
                | responsibility
            li
                | respect

    .col-2-of-3
        p
            | In all our actions we strive for honesty and transparency. 
            | Decisions are guided by a commitment to social justice as 
            | well as a long-term commitment to the community we serve.
        
        p
            | We aim to undertake our responsibilities with care, wisdom 
            | and love. We value and affirm peoples diverse ethnic 
            | backgrounds in our projects. The close relationship between 
            | our projects and communities mean that we are able to 
            | respond sensitively and effectively to the particular 
            | needs of persons - linguistically, socially and culturally.

        

    