.section-about {
    padding: 5rem 0;
    background-color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-profile, 
.section-foundation {
    padding: 10rem 0 ;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8));
    
        @include respond(tab-port) {
            padding: 20rem 0 10rem 0;
        }

}
.section-directors, .section-works {
    background-color: $color-grey-light-1;
    padding: 10rem 0 5rem 0

}
// .section-foundation,  {
//     padding: 20rem 0 ;
//     background-image: linear-gradient(
//         to right bottom,
//         rgba($color-primary-light, 0.8),
//         rgba($color-primary-dark, 0.8));

// }
.section-contact {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.contact {
    border-radius: 3px;
    background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 50%,
    transparent 50%);
    background-size: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color-black,  .2);

    &__form {
        width: 50%;
        padding: 6rem;
    }

}
.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}